.App{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.joinChatContainer{
      box-shadow: 0px 2px 4px rgb(0 0 0 / 28%);
      border-radius: 5px;
      max-width: 500px;
      min-width: 100px;
      height: 300px;
      margin: auto;
      padding: 10px;
      margin-top: 100px;
}

.joinChatContainer h3{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;

}
.joinForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.joinForm input[type="text"]{
  padding: 15px;
  width: 80%;
  margin-bottom: 20px;
  border-radius: 7px;
  font-size: 1rem;
}
.joinForm button{
  padding: 15px;
  width: 150px;
  border-radius: 13px;
  background: #25c782;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  color: #fff;
  cursor: pointer;
}
.joinForm button:hover{
  background-color: #1ca76b;
}

/* Chat Box */
.chat-window {
  width: 500px;
  height: 620px;
  margin: auto;
}
.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
  text-align: start;
}

.chat-window .chat-body {
  height: calc(620px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;

}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.chat-window .chat-body .message .message-content ,.newUser{
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 200px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  /* justify-content: flex-start; */
  float: right;
  clear: both;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  float: left;
  clear: both;
}

#other .message-content {
  background-color: cornflowerblue;
}

#other .message-meta {
  margin-right: 5px;
}

#author{
  font-weight: 900;
}
#time{
  margin-right: 5px;
}
.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}
.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}
.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.newUser{
  width: 480px;
  /* border: 2px solid red; */
  background: #e7e7e5;
  padding: 3px;
  color: #000;
}